<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.directwebremoting.org/schema/spring-dwr
           http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

  <dwr:configuration>
     <dwr:convert class="org.opennms.web.controller.dwr.SimpleAlarm" type="bean"/>
  </dwr:configuration>


  <dwr:controller id="dwrController" debug="true"/>

 <bean id="virtualGroupsDaoUtils" class="org.opennms.netmgt.dao.support.DAOUtilsImpl">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <bean id="virtualGroupsGroupDao" class="org.opennms.netmgt.dao.hibernate.GroupDaoHibernate">
     <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <bean id="dwrNodeUtil" class="org.opennms.web.controller.dwr.DWRNodeUtil">
     <property name="nodeDao" ref="nodeDao" />
     <property name="groupDao" ref="virtualGroupsGroupDao" />
     <property name="alarmDao" ref="alarmDao" />
     <property name="monitoredServiceDao" ref="monitoredServiceDao" />
     <property name="ipInterfaceDao" ref="ipInterfaceDao" />
     <dwr:remote javascript="nodeUtil" />
  </bean>

   <bean id="vGroupsService" class="org.opennms.netmgt.dao.support.DefaultVirtualGroupsService">
     <property name="groupDao" ref="virtualGroupsGroupDao" />
     <property name="nodeDao" ref="nodeDao" />
     <property name="monitoredServiceDao" ref="monitoredServiceDao" />
  </bean>


 </beans>
